<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap-switch.js"></script>
<script src="/javascripts/js.js"></script>
<script src="/javascripts/sco/sco.modal.js"></script>
</body>
</html>