.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:50px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.unit{
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 20px;
    float: left;
}
.alter{
    margin-top: -80px;
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
    -webkit-transform:none;
    -webkit-animation-timing-function:ease-out;
    -webkit-transition-duration:250ms;
}

.holder{

}

.unit:hover .alter{
    opacity: 1;
    margin-top: 0px;
}

.view{
    margin-top: 10px;

}

.machineId {
    position: absolute;
    padding: 30px 20px;

}

.nav, .pagination, .carousel a { cursor: pointer; }

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color:transparent;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #fff;
    cursor: default;
    background-color: #428bca !important;
    border-color: #428bca;
}