<form class="form-horizontal container" method="post">
    <fieldset class="col-xs-6">
        <div>
            <legend class="">进站用户认证</legend>
        </div>
        <div class="control-group">
            <label class="control-label">用户名</label>
            <div class="controls">
                <input type="text" class="form-control" name="username" ng-model='user.name' required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">密码</label>
            <div class="controls">
                <input type="password" class="form-control" name="password" ng-model="user.password" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">身份选择</label>
            <div class="controls">
                <!-- Inline Radios -->
                <label class="radio inline">
                    <input type="radio" value="部员" name="">
                    部员
                </label>
                <label class="radio inline">
                    <input type="radio" value="管理员" name="">
                    管理员
                </label>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success" type="submit" ng-disabled="myForm.$invalid" ng-click="enterSite()">登陆</button>
            </div>
        </div>
        <div ng-show="err" ng-bind="err"></div>
    </fieldset>
</form>