<%- include funcModel/header%>
<form class="form-horizontal container" method="post">
    <fieldset>
        <div>
            <legend>上机登记</legend>
        </div>

        <div class="control-group">
            <label class="control-label">选择登记方式</label>
            <div class="controls">
                <!-- Multiple Radios -->
                <label class="radio">
                    <input type="radio" value="键盘输入" name="group" checked="checked">
                    键盘输入
                </label>
                <label class="radio">
                    <input type="radio" value="刷卡登记" name="group">
                    刷卡登记
                </label>
            </div>
        </div>

        <div class="control-group">

            <!-- Text input-->
            <label class="control-label">姓名</label>
            <div class="controls">
                <input type="text" required>
            </div>
        </div>

        <div class="control-group">

            <!-- Text input-->
            <label class="control-label">学号</label>
            <div class="controls">
                <input type="text" required>
            </div>
        </div>

        <div class="control-group">

            <!-- Text input-->
            <label class="control-label">手机号码</label>
            <div class="controls">
                <input type="text" required>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">提交</button>
            </div>
        </div>

    </fieldset>
</form>
