<form name="theFixOffForm" class="form-horizontal" method="put" data-ng-submit="ok()">
    <div>
        <legend class="">机器维修后记录</legend>
    </div>
    <p>维修的机器号为：{{machineId}}</p>

    <div class="control-group">
        <!-- Textarea -->
        <label class="control-label">机器故障原因</label>
        <div class="controls">
            <div class="textarea">
                <textarea type="text" style="margin: 0px; height: 136px; width: 239px;" data-ng-model="fixLog.result"> </textarea>
            </div>
        </div>
    </div>

    <div class="control-group">

        <!-- Text input-->
        <label class="control-label">维修者姓名</label>
        <div class="controls">
            <input type="text" required data-ng-model="fixLog.endName" class="input">
        </div>
    </div>

    <div class="modal-footer">
        <div class="controls">
            <button class="btn btn-primary" type="submit" data-ng-disabled='!theFixOffForm.$valid'>维修</button>
            <button class="btn btn-warning" data-ng-click="cancel()">取消</button>
        </div>
    </div>
</form>