<section data-ng-controller="MachinesController" data-ng-init="find()">
    <label>
        <input type="checkbox" ng-model="checked">
    </label>
    <div class="check-element animate-show-hide view" ng-hide="checked" style="clear:both;">
        <h1>一机房</h1>
        <div class="unit" data-ng-repeat="machine in machines">
            <p ng-bind="machine.machineId"></p>
            <img class="holder" ng-src="/img/pcStatus/{{machine.status}}.png">
            <div class="alter">
                <button class="btn" ng-show="select.selectROn" ng-click="enroll(machine.machineId)">上机</button>
                <button class="btn" ng-show="select.selectROff" ng-click="away(machine.machineId)">下机</button>
                <button class="btn" ng-show="select.selectFOn" ng-click="fixOn(machine.machineId)">维修</button>
                <button class="btn" ng-show="select.selectFOff" ng-click="fixOff(machine.machineId)">修完</button>
            </div>
        </div>
    </div>
    <div class="check-element animate-show-hide view" ng-show="checked">
        <h1>三机房</h1>
        <div class="unit" data-ng-repeat="machine in machines">
            <img class="holder" ng-src="/img/pcStatus/{{machine.status}}.png">
            <div class="alter">
                <button class="btn" ng-click="enroll()">上机</button>
            </div>
        </div>
    </div>
</section>
