<section data-ng-controller="MachinesController" data-ng-init="find()">
    <label class="checkbox">
        <input type="checkbox" ng-model="checked">
        机房切换开关
    </label>
    <div class="check-element animate-show-hide view" ng-hide="checked" style="clear:both;">
        <h3>一机房</h3>
        <div class="unit" data-ng-repeat="machine in machines | filter:{belong:1}">
            <p class="machineId"><span ng-bind="machine.machineId"></span>号机</p>
            <img class="holder" ng-src="/img/pcStatus/{{machine.status}}.png">
            <div class="alter">
                <button class="btn btn-mini" ng-click="enroll(machine.machineId)">上机</button>
                <button class="btn btn-mini" ng-click="away(machine.machineId)">下机</button>
                <button class="btn btn-mini" ng-click="fixOn(machine.machineId)">维修</button>
                <button class="btn btn-mini" ng-click="fixOff(machine.machineId)">修完</button>
            </div>
        </div>
    </div>
    <div class="check-element animate-show-hide view" ng-show="checked">
        <h3>三机房</h3>
        <div class="unit" data-ng-repeat="machine in machines | filter:{belong:3}">
            <p class="machineId"><span ng-bind="machine.machineId"></span>号机</p>
            <img class="holder" ng-src="/img/pcStatus/{{machine.status}}.png">
            <div class="alter">
                <button class="btn btn-mini" ng-click="enroll(machine.machineId)">上机</button>
                <button class="btn btn-mini" ng-click="away(machine.machineId)">下机</button>
                <button class="btn btn-mini" ng-click="fixOn(machine.machineId)">维修</button>
                <button class="btn btn-mini" ng-click="fixOff(machine.machineId)">修完</button>
            </div>
        </div>
    </div>
</section>
