<section data-ng-controller="MachinesController" ng-init="checked=true" data-ng-init="find()">
    <label>
        <input type="checkbox" ng-model="checked">
    </label>
    <div class="check-element animate-show-hide view" ng-show="checked" style="clear:both;">
        <h1>一机房</h1>
        <div class="unit" data-ng-repeat="machines in machines">
            <img class="holder" ng-src="/img/pcStatus/{{machines.status}}.png">
            <div class="alter">
                <button class="btn" ng-show="selectR" ng-click="R()">上机</button>
                <button class="btn" ng-show="selectF" ng-click="fix()">维修</button>
            </div>
        </div>
    </div>
    <div class="check-element animate-show-hide view" ng-hide="checked">
        <h1>三机房</h1>
        <div class="unit" data-ng-repeat="machines in machines">
            <img class="holder" ng-src="/img/pcStatus/{{machines.status}}.png">
            <div class="alter">
                <button class="btn" ng-click="R()">上机</button>
            </div>
        </div>
    </div>
</section>
