<section data-ng-controller="SituationController" data-ng-init="gain()">
    <div>
        快速查找：<input type="text" class="input-large search-query" ng-model='query' ng-change="search()">
    </div>
    <select ng-options="p.val as p.label for p in sortables" class="input-medium" ng-model="sortPrep" ng-change="search()"></select>
    <!--<pre>{{items}}</pre>-->
    <!--<pre>{{situations}}</pre>-->
    <table class="table table-hover table-bordered table-condensed" >
        <caption><h2>上机情况统计</h2></caption>
        <thead>
            <tr>
                <th >姓名&nbsp;<i class="icon-chevron-down"></i></th>
                <th>学号&nbsp;<i class="icon-chevron-down"></i></th>
                <th>手机号码&nbsp;<i class="icon-chevron-down"></i></th>
                <th>机器号&nbsp;<i class="icon-chevron-down"></i></th>
                <th>上机时间&nbsp;<i class="icon-chevron-down"></i></th>
                <th>下机时间&nbsp;<i class="icon-chevron-down"></i></th>
                <th>上机日期&nbsp;<i class="icon-chevron-down"></i></th>
                <th>留言&nbsp;<i class="icon-chevron-down"></i></th>
            </tr>
        </thead>
        <tbody data-ng-repeat="situation in pagedItems[currentPage]" ng-init="hide = true">
            <tr >
                <td ng-bind="situation.name"></td>
                <td ng-bind="situation.id"></td>
                <td ng-bind="situation.tel"></td>
                <td ng-bind="situation.machineId"></td>
                <td ng-bind="situation.useOn | date:'h:m a'"></td>
                <td ng-bind="situation.useOff | date:'h:m a'"></td>
                <td ng-bind="situation.useOn | date:'yyyy-MM-dd' "></td>
                <td ng-init="show = showButton(situation.note)">
                    <button ng-hide="show" class="btn btn-default" ng-click="hide = !hide">显/隐</button>
                </td>
            </tr>
            <tr ng-hide="hide">
                <td colspan="8"><pre class="well well-lg" ng-bind="situation.note"></pre></td>
            </tr>
        </tbody>
    </table>
    <div class="center">
        <div class="pagination">
            <ul>
                <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="prevPage()">« Prev</a>
                </li>
                <li ng-repeat="n in range(pagedItems.length)"
                    ng-class="{active: n == currentPage}"
                    ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                </li>
                <li ng-class="{disabled: currentPage == pagedProjects.length - 1}">
                    <a href ng-click="nextPage()">Next »</a>
                </li>
            </ul>
        </div>
    </div>

</section>